<div class="row g-4 justify-content-md-center">

    <!-- SOTK (struktur organisasi tata kelola) Desa, tupoksi masing-masing kaur -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.2.1
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">SOTK (struktur organisasi tata kelola) Desa, tupoksi masing-masing kaur</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Perkades/Perdes/Keputusan Kades/SOP tentang Mekanisme Evaluasi Kinerja Perangkat Desa -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.2.2
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Perkades/Perdes/Keputusan Kades/SOP tentang Mekanisme Evaluasi Kinerja Perangkat Desa</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Undangan Penyusunan regulasi kepada seluruh aparatur desa -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.2.3
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Undangan Penyusunan Regulasi Kepada Seluruh Aparatur Desa</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Notulensi / Daftar Hadir / Dokumentasi Penyusunan regulasi -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.2.4
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Notulensi / Daftar Hadir / Dokumentasi Penyusunan Regulasi</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Format formulir evaluasi (Tupoksi perangkat Desa, Dokumen pendukung, Kriteria penilaian dan Catatan) -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.2.5
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Format Formulir Evaluasi (Tupoksi Perangkat Desa, Dokumen Pendukung, Kriteria Penilaian dan
                Catatan)</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>