<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">

                <li class="list-group-item " style="padding-left: 60px;">
                    <span class="badge text-bg-primary rounded-pill position-absolute"
                        style="margin: 3px 0 0 -50px;">I.3.1</span>
                    <a href="">Perkades / Perdes / Keputusan Kades / SOP tentang Pengendalian Gratifikasi, Suap dan
                        Konflik Kepentingan</a>
                </li>

                <li class="list-group-item  " style="padding-left: 60px; ">
                    <span class="badge text-bg-primary rounded-pill position-absolute"
                        style="margin: 3px 0 0 -50px;">I.3.2</span>
                    <a href="">Undangan Penyusunan regulasi kepada seluruh aparatur desa</a>
                </li>

                <li class="list-group-item  " style="padding-left: 60px; ">
                    <span class="badge text-bg-primary rounded-pill position-absolute"
                        style="margin: 3px 0 0 -50px;">I.3.3</span>
                    <a href="">Notulensi / Daftar Hadir / Penyusunan regulasi </a>
                </li>

                <li class="list-group-item  " style="padding-left: 60px; ">
                    <span class="badge text-bg-primary rounded-pill position-absolute"
                        style="margin: 3px 0 0 -50px;">I.3.4</span>
                    <a href="">Format lampiran deklarasi CoI </a>
                </li>

            </ul>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header" style="padding-left: 60px; ">
                    <span class="badge text-bg-primary rounded-pill position-absolute"
                        style="margin: 3px 0 0 -50px;">I.3.3</span>
                    <a href="">Dokumentasi Penyusunan regulasi </a>
                </div>
                <div class="card-body">

                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/Documents-2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/Documents-2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/Documents-2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>