<div class="row g-4 justify-content-md-center">

    <!-- Perkades/Perdes/Keputusan Kades/SOP tentang Pengendalian Gratifikasi, Suap dan Konflik Kepentingan -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.3.1
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Perkades / Perdes / Keputusan Kades / SOP Tentang Pengendalian Gratifikasi, Suap Dan
                Konflik Kepentingan</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Undangan Penyusunan regulasi kepada seluruh aparatur desa  -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.3.2
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Undangan Penyusunan Regulasi Kepada Seluruh Aparatur Desa</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Notulensi / Daftar Hadir / Dokumentasi Penyusunan regulasi   -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.3.3
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Notulensi / Daftar Hadir / Dokumentasi Penyusunan Regulasi </h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Format lampiran deklarasi CoI   -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.3.4
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Format lampiran deklarasi CoI</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>