<div class="row g-4 justify-content-md-center">

    <!-- Perencanaan Pengadaan terkait PBJ -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.4.1
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Perencanaan Pengadaan Terkait PBJ</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- KAK/ToR/spesifikasi teknis terkait PBJ dan HPS sesuai peraturan LKPP dan atau kepala daerah tentang tata cara pengadaan barang/jasa di desa -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.4.2
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">KAK/ToR/ Spesifikasi Teknis Terkait PBJ dan HPS Sesuai Peraturan LKPP Dan Atau Kepala
                Daerah Tentang Tata Cara Pengadaan Barang/Jasa Di Desa</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Undangan Dari Desa Kepada Penyedia Jasa Sesuai Peraturan PBJ Yang Berlaku -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.4.3
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Undangan Dari Desa Kepada Penyedia Jasa Sesuai Peraturan PBJ Yang Berlaku</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- surat penawaran dari Penyedia Jasa  -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.4.4
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Surat Penawaran Dari Penyedia Jasa</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- SK Tim Pelaksana Kegiatan  -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.4.5
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">SK Tim Pelaksana Kegiatan</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Perjanjian Kerjasama  -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.4.6
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Perjanjian Kerjasama</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Dokumen Penyelesaian Pembayaran -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">1.4.7
        </span>
        <div class="feature-item rounded text-center p-4 bg-info shadow-sm">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Dokumen Penyelesaian Pembayaran</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>