<div class="row g-4 justify-content-md-center d-flex">

    <!-- Arsip/Dokumen Hasil Pembinaan,  Petunjuk, Arahan, Pengawasan, Dan Pemeriksaan Dari Pemerintah Pusat/Daerah
 -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">II.2.1
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Arsip/Dokumen Hasil Pembinaan, Petunjuk, Arahan, Pengawasan, Dan Pemeriksaan Dari
                Pemerintah Pusat/Daerah</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light"
                    href="https://drive.google.com/drive/folders/1m4YWQXBL5rTYcKEDe2jZX1HDH4XsvJQU?usp=drive_link">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Surat Keterangan/Penjelasan Terhadap Pembinaan,  Petunjuk, Arahan, Pengawasan, Dan Pemeriksaan Dari Pemerintah Pusat/Daerah Yang Belum Bisa Diselesaikan Dalam Tahun Berjalan
 -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">II.2.2
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Surat Keterangan / Penjelasan Terhadap Pembinaan, Petunjuk, Arahan, Pengawasan, Dan
                Pemeriksaan Dari Pemerintah Pusat / Daerah Yang Belum Bisa Diselesaikan Dalam Tahun Berjalan</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light"
                    href="https://drive.google.com/drive/folders/1tDaF4eRLrbEYSxcYNEdkSePmT1VYHezn?usp=drive_link">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Surat Penyelesaian/Berita Acara Penyelesaian Atas  Pembinaan, Petunjuk, Arahan, Pengawasan, Dan Pemeriksaan Dari Pemerintah Pusat/Daerah Pemeriksaan Temuan Dengan Melampirkan Bukti Dukung -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">II.2.3
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Surat Penyelesaian/Berita Acara Penyelesaian Atas Pembinaan, Petunjuk, Arahan, Pengawasan,
                Dan Pemeriksaan Dari Pemerintah Pusat/Daerah Pemeriksaan Temuan Dengan Melampirkan Bukti Dukung</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light"
                    href="https://drive.google.com/drive/folders/1whB5wMwZTSUYr_Tb4YDa6bhbOCWrfZ0T?usp=drive_link">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>


</div>