<div class="row g-4 justify-content-md-center d-flex">

    <div class="col-12">
        <div class="card">
            <span class="rounded-pill p-2 mt-2 ms-3 fs-7 position-absolute text-light">III.1.1
            </span>
            <div class="card-header py-3">
                <h6 style="margin-left: 60px;">Prosedur Baku Penerimaan, Penanganan Dan Tindaklanjut Pengaduan</h6>
            </div>
            <div class="card-body py-0">
                <img src="/img/PROSEDUR-BAKU-PENGADUAN.jpg" class="card-img py-4" alt="...">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <span class="rounded-pill p-2 mt-2 ms-3 fs-7 position-absolute text-light">III.1.2
            </span>
            <div class="card-header py-3">
                <h6 style="margin-left: 60px;">Saluran Penerimaan Pengaduan Digital Website</h6>
            </div>
            <div class="card-body py-0">
                <img src="/img/pengaduan.jpg" class="card-img py-4" alt="...">
            </div>
            <div class="card-footer">
                <div class="buton btn-dark rounded p-2 d-inline-block">
                    <a class="text-light" href="https://www.tabongotimur.desa.id/pengaduan"> Lihat Layanan Pengaduan di
                        Website
                        <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <span class="rounded-pill p-2 mt-2 ms-3 fs-7 position-absolute text-light">III.1.2
            </span>
            <div class="card-header py-3">
                <h6 style="margin-left: 60px;">Saluran Penerimaan Pengaduan Konvensional</h6>
            </div>
            <div class="card-body py-0">
                <img src="/img/KOTAK-SARAN.jpg" class="card-img py-4" alt="...">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <span class="rounded-pill p-2 mt-2 ms-3 fs-7 position-absolute text-light">III.1.3
            </span>
            <div class="card-header py-3">
                <h6 style="margin-left: 60px;">Publikasi Prosedur Baku Dan Saluran Pengaduan</h6>
            </div>
            <div class="card-body py-0">
                <img src="/img/KOTAK-SARAN-DAN-ADUAN.jpg" class="card-img py-4" alt="...">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <span class="rounded-pill p-2 mt-2 ms-3 fs-7 position-absolute text-light">III.1.4
            </span>
            <div class="card-header py-3">
                <h6 style="margin-left: 60px;">Media Informasi Terkait Prosedur Dan Saluran Pengaduan</h6>
            </div>
            <div class="card-body py-0">
                <img src="/img/Screenshotvbv.jpg" class="card-img py-4" alt="...">
            </div>
            <div class="card-footer">
                <div class="buton btn-dark rounded p-2 d-inline-block">
                    <a class="text-light"
                        href="https://www.tabongotimur.desa.id/artikel/2023/03/09/makin-dekat-dengan-warga-pemerintah-desa-tabongo-timur-sediakan-fasilitas-layanan-pengaduan">
                        Lihat Informasi Prosedur Dan Saluran Pengaduan
                        <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>