<div class="row g-4 justify-content-md-center d-flex">

    <!-- Prosedur Baku Penerimaan, Penanganan Dan Tindaklanjut Pengaduan -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.1.1
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Prosedur Baku Penerimaan, Penanganan Dan Tindaklanjut Pengaduan</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Saluran Penerimaan Pengaduan (Digital Berupa Email/Website/Media Sosial Dan Konvensional) -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.1.2
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Saluran Penerimaan Pengaduan (Digital Berupa Email/Website/Media Sosial Dan Konvensional)
            </h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Publikasi Prosedur Baku Dan Saluran Pengaduan -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.1.3
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Publikasi Prosedur Baku Dan Saluran Pengaduan</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Media Informasi Terkait Prosedur Dan Saluran Pengaduan -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.1.4
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Media Informasi Terkait Prosedur Dan Saluran Pengaduan</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>