<div class="row g-4 justify-content-md-center d-flex">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body py-0">
                <img src="/img/fasassf.jpg" class="card-img py-4" alt="...">
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card">
            <div class="card-header p-3 text-center">
                <h5>SURVEY KEPUASAN MASYARAKAT</h5>
            </div>
            <div class="card-body py-0">
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSeT8mrzxlvvyplfeIdVfl2DgS5yPCDSDuknFLQoUSkLi6dW_g/viewform"
                    width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">Memuat…</iframe>
            </div>
            <div class="card-footer text-center">
                <div class="buton btn-dark rounded p-2 d-inline-block">
                    <a class="text-light"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSeT8mrzxlvvyplfeIdVfl2DgS5yPCDSDuknFLQoUSkLi6dW_g/viewform">
                        Selengkapnya
                        <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header p-3 text-center">
                <h5>SURVEI PELAYANAN & PERILAKU PEMDES</h5>
            </div>
            <div class="card-body py-0">
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSd8x8ei8d84o1UaWvr_wziakK5I819ZLX9abaARPNO48SDrtw/viewform"
                    width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">Memuat…</iframe>
            </div>
            <div class="card-footer text-center">
                <div class="buton btn-dark rounded p-2 d-inline-block">
                    <a class="text-light"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSd8x8ei8d84o1UaWvr_wziakK5I819ZLX9abaARPNO48SDrtw/viewform">
                        Selengkapnya
                        <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Survey Kepuasan Berdasarkan Pelayanan Yang Diberikan Pemerintah Desa Kepada Masyarakat -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.2.1
        </span>
        <div class="feature-item rounded text-center p-4 bg-info">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Survey Kepuasan Berdasarkan Pelayanan Yang Diberikan Pemerintah Desa Kepada Masyarakat</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>


    <!-- Pelaksanaan  Survey Berdasarkan Pada Pedoman Penyusunan Survey Kepuasan Masyarakat Yang Dikeluarkan Oleh Kemenpan RB  -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.2.2
        </span>
        <div class="feature-item rounded text-center p-4 bg-info">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Pelaksanaan Survey Berdasarkan Pada Pedoman Penyusunan Survey Kepuasan Masyarakat Yang
                Dikeluarkan Oleh Kemenpan RB </h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>



</div>