<div class="row g-4 justify-content-md-center d-flex">

    <!-- Media Informasi (Poster, Banner, Media Sosial Dan Website) -->
    <div class="col-md-4">
        <div class="card">
            <span class="rounded-pill p-2 mt-2 ms-3 fs-7 position-absolute text-light">III.3.2
            </span>
            <div class="card-header py-3">
                <h6 style="margin-left: 60px;">Media Informasi (Poster, Banner, Media Sosial Dan Website)</h6>
            </div>
            <div class="card-body py-0">
                <img src="/img/BANNER PELAYANAN KESEHATAN 160x60 .jpg" class="card-img py-4" alt="...">
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <span class="rounded-pill p-2 mt-2 ms-3 fs-7 position-absolute text-light">III.3.2
            </span>
            <div class="card-header py-3">
                <h6 style="margin-left: 60px;">Media Informasi (Poster, Banner, Media Sosial Dan Website)</h6>
            </div>
            <div class="card-body py-0">
                <img src="/img/BANNER PELAYANAN PENDIDIKAN 160x60  2.jpg" class="card-img py-4" alt="...">
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <span class="rounded-pill p-2 mt-2 ms-3 fs-7 position-absolute text-light">III.3.2
            </span>
            <div class="card-header py-3">
                <h6 style="margin-left: 60px;">Media Informasi (Poster, Banner, Media Sosial Dan Website)</h6>
            </div>
            <div class="card-body py-0">
                <img src="/img/BANNER SPM 160x60 2 .jpg" class="card-img py-4" alt="...">
            </div>
        </div>
    </div>

    <!-- Informasi SPM Sesuai Dengan  Permendagri No. 2 Tahun 2017 -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.3.1
        </span>
        <div class="feature-item rounded text-center p-4 bg-info">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Informasi SPM Sesuai Dengan Permendagri No. 2 Tahun 2017</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>







</div>