<!-- Baliho / Poster APBDES -->
<div class="row p-0 m-0 g-4 justify-content-md-center">
    <div class="col-12" p-0>
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.4.1
        </span>
        <div class="feature-item rounded-5 rounded-top  text-center p-4 bg-info"
            style="margin-left: -0.7rem; margin-right: -0.7rem;">
            <h6 class="my-2 ">Baliho/Poster APBDES</h6>
        </div>
    </div>

    <div class="row px-2 pb-4 m-0 g-4 gb-5 bg-secondary">

        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/III.3.4/APBDes-2024.jpg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/III.3.4/APBDes-2024.jpg"> </a>
                <h6 class="my-2 text-light">Realisasi APBDes 2024</h6>
            </div>
        </div>


        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/III.3.4/TRANSPARANSI-2025.jpg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/III.3.4/TRANSPARANSI-2025.jpg"> </a>
                <h6 class="my-2 text-light">Baliho Transparansi APBDes 2025</h6>
            </div>
        </div>

        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/III.3.4/realisasi-apbdes-2023.jpg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/III.3.4/realisasi-apbdes-2023.jpg"> </a>
                <h6 class="my-2 text-light">Realisasi APBDes 2023</h6>
            </div>
        </div>


        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/III.3.4/transparansi-2024.jpg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/III.3.4/transparansi-2024.jpg"> </a>
                <h6 class="my-2 text-light">Transparansi APBDes 2024</h6>
            </div>
        </div>

        <div class="col-md-auto m-auto mt-4">
            <div class="buton btn-dark rounded p-3 text-center m-auto">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

    </div>
</div>




<!-- Lokasi Pemasangan Baliho / Poster APBDES -->

<div class="row p-0 m-0 g-4 justify-content-md-center">
    <div class="col-12" p-0>
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.4.2
        </span>
        <div class="feature-item rounded-5 rounded-top  text-center p-4 bg-info"
            style="margin-left: -0.7rem; margin-right: -0.7rem;">
            <h4 class="my-2 ">Lokasi Pemasangan Baliho / Poster APBDES</h4>
        </div>
    </div>

    <div class="row px-2 pb-4 m-0 g-4 gb-5 bg-secondary">

        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/III.3.4/Baliho APBDes di Kantor Desa (1).jpeg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/III.3.4/Baliho APBDes di Kantor Desa (1).jpeg"> </a>
                <h6 class="my-2 text-light"> a. Baliho APBDes di Kantor Desa</h6>
            </div>
        </div>


        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/III.3.4/Baliho APBDes di Kantor Desa (2).jpeg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/III.3.4/Baliho APBDes di Kantor Desa (2).jpeg"> </a>
                <h6 class="my-2 text-light">a. Baliho APBDes di Kantor Desa</h6>
            </div>
        </div>

        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/III.3.4/Pemasangan Baliho APBDes di Dusun (1).jpeg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/III.3.4/Pemasangan Baliho APBDes di Dusun (1).jpeg"> </a>
                <h6 class="my-2 text-light">b. Baliho APBDes di Dusun</h6>
            </div>
        </div>


        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/III.3.4/Pemasangan Baliho APBDes di Dusun (2).jpeg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/III.3.4/Pemasangan Baliho APBDes di Dusun (2).jpeg"> </a>
                <h6 class="my-2 text-light">b. Baliho APBDes di Dusun</h6>
            </div>
        </div>

        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/III.3.4/apbdes di website.jpg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/III.3.4/apbdes di website.jpg"> </a>
                <h6 class="my-2 text-light">c. Informasi APBDes DI Website</h6>
                <button class="btn-info rounded">
                    <a
                        href="https://www.tabongotimur.desa.id/artikel/2023/03/01/info-grafik-apbdes-tahun-anggaran-2023-desa-tabongo-timur">Buka
                        Website</a>
                </button>
            </div>
        </div>


        <div class="col-md-6">
            <div class="feature-item rounded text-center p-1 bg-dark">
                <a href="/img/Documents-2.jpg" target="_blank">
                    <img class="img-thumbnail w-100" src="/img/Documents-2.jpg"> </a>
                <h6 class="my-2 text-light">d. Informasi APBDes di Sosmed</h6>
                <button class="btn-info rounded">
                    <a href="...">Buka Sosmed</a>
                </button>
            </div>
        </div>

        <div class="col-md-auto m-auto mt-4">
            <div class="buton btn-dark rounded p-3 text-center m-auto">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

    </div>
</div>