<div class="row g-4 justify-content-md-center d-flex">

    <!-- Isi Maklumat Sesuai Dengan Permenpan RB Yang Berlaku -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.5.1
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Isi Maklumat Sesuai Dengan Permenpan RB Yang Berlaku</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Isi Maklumat Pelayanan Aparat Desa -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.5.2
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Isi Maklumat Pelayanan Aparat Desa</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Lokasi Pemasangan Maklumat Pelayanan Aparat Desa -->
    <div class="col-lg-3 col-md-6">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">III.5.3
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">Lokasi Pemasangan Maklumat Pelayanan</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light" href=".................">Selengkapnya
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>





</div>