<div class="container mb-4">

    <div class="card shadow">
        <div class="card-header bg-info" style="padding-left: 60px;">
            <span class="badge text-bg-primary rounded-pill position-absolute"
                style="margin: 3px 0 0 -50px;">IV.1.1</span>
            <a href="">Musyawarah Pemangku Kepentingan (Dusun / Kelompok)</a>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-group">

                        <li class="list-group-item " style="padding-left: 60px;">
                            <span class="badge text-bg-primary rounded-pill position-absolute"
                                style="margin: 3px 0 0 -50px;">1</span>
                            <a href="">Undangan</a>
                        </li>

                        <li class="list-group-item " style="padding-left: 60px;">
                            <span class="badge text-bg-primary rounded-pill position-absolute"
                                style="margin: 3px 0 0 -50px;">2</span>
                            <a href="">Daftar Usulan</a>
                        </li>

                        <li class="list-group-item " style="padding-left: 60px;">
                            <span class="badge text-bg-primary rounded-pill position-absolute"
                                style="margin: 3px 0 0 -50px;">3</span>
                            <a href="">Daftar Hadir</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" style="padding-left: 60px; ">
                            <span class="badge text-bg-primary rounded-pill position-absolute"
                                style="margin: 3px 0 0 -50px;">4</span>
                            <a href="">Dokumentasi Penyusunan regulasi </a>
                        </div>
                        <div class="card-body">

                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active" aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/img/musdus (1).jpeg" class="d-block w-100" style="height: 350px;"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/musdus (2).jpeg" class="d-block w-100" style="height: 350px;"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/musdus (3).jpeg" class="d-block w-100" style="height: 350px;"
                                            alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">

    <div class="card shadow">
        <div class="card-header bg-info" style="padding-left: 60px;">
            <span class="badge text-bg-primary rounded-pill position-absolute"
                style="margin: 3px 0 0 -50px;">IV.1.2</span>
            <a href="">Musyawarah Desa</a>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-group">

                        <li class="list-group-item " style="padding-left: 60px;">
                            <span class="badge text-bg-primary rounded-pill position-absolute"
                                style="margin: 3px 0 0 -50px;">5</span>
                            <a href="">Undangan</a>
                        </li>

                        <li class="list-group-item " style="padding-left: 60px;">
                            <span class="badge text-bg-primary rounded-pill position-absolute"
                                style="margin: 3px 0 0 -50px;">6</span>
                            <a href="">Notulen</a>
                        </li>

                        <li class="list-group-item " style="padding-left: 60px;">
                            <span class="badge text-bg-primary rounded-pill position-absolute"
                                style="margin: 3px 0 0 -50px;">7</span>
                            <a href="">Daftar Hadir</a>
                        </li>

                        <li class="list-group-item " style="padding-left: 60px;">
                            <span class="badge text-bg-primary rounded-pill position-absolute"
                                style="margin: 3px 0 0 -50px;">9</span>
                            <a href="">SK Tim Penyusun RKPDes</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" style="padding-left: 60px; ">
                            <span class="badge text-bg-primary rounded-pill position-absolute"
                                style="margin: 3px 0 0 -50px;">8</span>
                            <a href="">Dokumentasi Penyusunan regulasi </a>
                        </div>
                        <div class="card-body">

                            <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators1"
                                        data-bs-slide-to="0" class="active" aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators1"
                                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators1"
                                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/img/musdes (1).jpeg" class="d-block w-100" style="height: 350px;"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/musdes (2).jpeg" class="d-block w-100" style="height: 350px;"
                                            alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/musdes (3).jpeg" class="d-block w-100" style="height: 350px;"
                                            alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>