<div class="row">
    <div class="col-md-6">
        <div class="card h-100 shadow-sm">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.1.1
            </span>
            <div class="card-header h6 fw-bold bg-info" style="padding: 7px 4px 10px 80px; "> Musyawarah Pemangku
                Kepentingan
                (Dusun / Kelompok)</div>
            <div class="card-body text-center">
                <button type="button" class="btn btn-sm btn-dark p-3">
                    <ahref="...">1. Undangan - 2. Daftar Usulan - 3. Daftar Hadir </a>
                </button>
                <div class="card-header mt-4">
                    4. Dokumentasi
                </div>
                <img src="/img/documents-2.jpg" class="card-img-bottom" alt="Blog post image"
                    style="height: 250px; object-fit: cover;">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100 shadow-sm">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.1.2
            </span>
            <div class="card-header h6 fw-bold bg-info" style=" padding: 7px 4px 10px 80px; line-height: 40px;">
                Musyawarah Desa
            </div>
            <div class="card-body text-center">
                <button type="button" class="btn btn-sm btn-dark p-3">
                    <ahref="...">5. Undangan - 6. Daftar Usulan - 7. Daftar Hadir </br> 9. SK Tim Penyusun RKPDes</a>
                </button>
                <div class="card-header mt-4">
                    4. Dokumentasi
                </div>
                <img src="/img/documents-2.jpg" class="card-img-bottom" alt="Blog post image"
                    style="height: 250px; object-fit: cover;">
            </div>
        </div>
    </div>

</div>