<div class="row g-4">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.1
            </span>
            <div class="card-header h6 fw-bold bg-info" style="padding: 7px 4px 10px 80px;line-height: 40px; "> Survei
                Perilaku Baik
                Konvensional Maupun Digital</div>
            <div class="card-body text-center">
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSch_-twlWe2ErJRVHs0J3nafjGC1mEO5ZnNtbTpgB9DSIGHGQ/viewform?pli=1"
                    width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">Memuat…</iframe>
            </div>
            <div class="card-footer text-center">
                <div class="buton btn-dark rounded p-2 d-inline-block">
                    <a class="text-light"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSch_-twlWe2ErJRVHs0J3nafjGC1mEO5ZnNtbTpgB9DSIGHGQ/viewform?pli=1">
                        Selengkapnya
                        <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.1
            </span>
            <div class="card-header h6 fw-bold bg-info" style="padding: 7px 4px 10px 80px;line-height: 40px; ">
                Survei
                Perilaku Baik
                Konvensional Maupun Digital</div>
            <div class="card-body text-center">
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSd8x8ei8d84o1UaWvr_wziakK5I819ZLX9abaARPNO48SDrtw/viewform"
                    width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">Memuat…</iframe>
            </div>
            <div class="card-footer text-center">
                <div class="buton btn-dark rounded p-2 d-inline-block">
                    <a class="text-light"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSd8x8ei8d84o1UaWvr_wziakK5I819ZLX9abaARPNO48SDrtw/viewform">
                        Selengkapnya
                        <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm mt-md-0 mt-4">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.2
            </span>
            <div class="card-header h6 fw-bold bg-info" style=" padding: 7px 4px 10px 80px; line-height: 40px;">
                <a href="https://drive.google.com/drive/folders/1aAnXp6e7l-sP0ITGvbiEul2Hjl1AWVB0?usp=drive_link">Hasil
                    Rekapitulasi, Analisis Dan Tindaklanjut</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm mt-md-0 mt-4">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.3
            </span>
            <div class="card-header h6 fw-bold bg-info" style=" padding: 7px 4px 10px 80px;">
                <a href="https://drive.google.com/drive/folders/1BrIFxsR-WPPhpw8PUVJC_M5KBykCs6zD?usp=drive_link">Surat
                    Edaran Terkait Gratifikasi, Suap Dan Konflik Kepentingan</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm mt-4">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.4
            </span>
            <div class="card-header h6 fw-bold bg-info" style="padding: 7px 4px 10px 80px;">
                Sosialisasi Perkades Secara Fisik Kepada Masyarakat:</div>
            <div class="card-body text-center">
                <button type="button" class="btn btn-sm btn-dark p-3">
                    <ahref="https://drive.google.com/drive/folders/1LK7BjXEyo1Ic_BsxIt6AOWbxkyc9DzvV?usp=drive_link">a.
                        Undangan - b. Daftar Hadir - c. Notulen </a> </button> <div class="card-header mt-4">
                        d. Dokumentasi
            </div>
            <img src="/img/sosialisasidak (1).jpeg" class="card-img mb-2" alt="..."
                style="height: 300px; object-fit: cover;">
            <img src="/img/sosialisasidak (2).jpeg" class="card-img" alt="..."
                style="height: 300px; object-fit: cover;">
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <span class="rounded-pill p-2 mt-3 ms-3 fs-7 position-absolute text-light">IV.2.5
        </span>
        <div class="card-header py-3 bg-info">
            <h6 style="margin-left: 60px;">Deklarasi Konflik Kepentingan melalui Penyebarluasan Informasi Deklarasi
                Konflik Kepentingan</h6>
        </div>
        <div class="card-body py-0">
            <div class="pt-4">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/gzUxFDKmLjk?si=Wa8xj6oze4C3lCRf"
                    title="deklarasi" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="buton btn-dark rounded p-2 d-inline-block">
                <a class="text-light" href="https://www.youtube.com/embed/gzUxFDKmLjk?si=Wa8xj6oze4C3lCRf">
                    Lihat di Youtube
                    <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="card-header h6 fw-bold bg-info mt-2">
                <a href="https://drive.google.com/drive/folders/1_2g6wQQaj-yK0AeEQrHtWQ6RMufDmBGc?usp=drive_link">Deklarasi
                    Konflik Kepentingan Yang Sudah Diisi Oleh Aparatur Desa</a>
            </div>
        </div>
    </div>
</div>







</div>