<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.1
            </span>
            <div class="card-header h6 fw-bold bg-info" style="padding: 7px 4px 10px 80px;line-height: 40px; "> Survei
                Perilaku Baik
                Konvensional Maupun Digital</div>
            <div class="card-body text-center">
                <button type="button" class="btn btn-sm btn-dark p-3">
                    <ahref="...">A. Perilaku Masyarakat Desa Memberikan Gratifikasi Dan Suap </a>
                </button>
                <div class="card-header mt-4">
                    Dokumentasi
                </div>
                <img src="/img/documents-2.jpg" class="card-img-bottom" alt="Blog post image"
                    style="height: 300px; object-fit: cover;">
            </div>
        </div>

        <div class="card shadow-sm mt-md-0 mt-4">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.2
            </span>
            <div class="card-header h6 fw-bold bg-info" style=" padding: 7px 4px 10px 80px; line-height: 40px;">
                <a href="...">Hasil Rekapitulasi, Analisis Dan Tindaklanjut</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm mt-md-0 mt-4">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.3
            </span>
            <div class="card-header h6 fw-bold bg-info" style=" padding: 7px 4px 10px 80px;">
                <a href="...">Surat Edaran Terkait Gratifikasi, Suap Dan Konflik Kepentingan</a>
            </div>
        </div>

        <div class="card shadow-sm mt-4">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.4
            </span>
            <div class="card-header h6 fw-bold bg-info" style="padding: 7px 4px 10px 80px;">
                Sosialisasi Perkades Secara Fisik Kepada Masyarakat:</div>
            <div class="card-body text-center">
                <button type="button" class="btn btn-sm btn-dark p-3">
                    <ahref="...">a. Undangan - b. Daftar Hadir - c. Notulen </a>
                </button>
                <div class="card-header mt-4">
                    Dokumentasi Pelayanan
                </div>
                <img src="/img/documents-2.jpg" class="card-img-bottom" alt="Blog post image"
                    style="height: 300px; object-fit: cover;">
            </div>
        </div>

        <div class="card shadow-sm mt-4">
            <span class="rounded-pill p-2 mt-2 m-3 position-absolute text-light">IV.2.5
            </span>
            <div class="card-header h6 fw-bold bg-info" style=" padding: 7px 4px 10px 80px;">
                <a href="...">Deklarasi Konflik Kepentingan Yang Sudah Diisi Oleh Aparatur Desa (Pemberitaan
                    /Penyebarluasan Informasi Mengenai Deklarasi Konflik Kepentingan)</a>
            </div>
        </div>


    </div>

</div>