<div class="row g-4">

    <div class="col-md-6 shadow">

        <div class="card mt-3">
            <div class="card-header bg-info" style="padding-left: 60px;">
                <span class="badge text-bg-primary rounded-pill position-absolute"
                    style="margin: 3px 0 0 -50px;">V.2.1</span>
                Deklarasi Anti Korupsi oleh Kaum perempuan
            </div>
            <div class="card-body text-center">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/d2M79thzoJg?si=wakY_ST9S0T_S8tL"
                    title="deklarasi" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="buton btn-dark rounded p-2 d-inline-block">
                <a class="text-light" href="https://www.youtube.com/embed/d2M79thzoJg?si=wakY_ST9S0T_S8tL">
                    Lihat di Youtube
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-6 shadow">
        <div class="card mt-3">
            <div class="card-header bg-info" style="padding-left: 60px;">
                <span class="badge text-bg-primary rounded-pill position-absolute"
                    style="margin: 3px 0 0 -50px;">V.2.1</span>
                Testimoni Terkait Korupsi oleh Tokoh Agama
            </div>
            <div class="card-body text-center">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/6dwLycZmeYo?si=ruhR6R2ROr0JuOdT"
                    title="deklarasi" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="buton btn-dark rounded p-2 d-inline-block">
                <a class="text-light" href="https://www.youtube.com/embed/6dwLycZmeYo?si=ruhR6R2ROr0JuOdT">
                    Lihat di Youtube
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-6 shadow">
        <div class="card mt-3">
            <div class="card-header bg-info" style="padding-left: 60px;">
                <span class="badge text-bg-primary rounded-pill position-absolute"
                    style="margin: 3px 0 0 -50px;">V.2.3</span>
                Bukti diupload diwebsite dan media sosial
            </div>
            <div class="card-body text-center">
                <img src="/img/bukti524.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="buton btn-dark rounded p-2 d-inline-block">
                <a class="text-light" href="https://www.youtube.com/@pemdestabongotimur8996">
                    Lihat di Youtube
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-6 shadow">
        <div class="card mt-3">
            <div class="card-header bg-info" style="padding-left: 60px;">
                <span class="badge text-bg-primary rounded-pill position-absolute"
                    style="margin: 3px 0 0 -50px;">V.2.4</span>
                Bukti aktifitas tokoh dalam mendorong upaya mencegah korupsi
            </div>
            <div class="card-body text-center">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/2sB8hWhBXjQ?si=SeNDFn7p36nEo7pF"
                    title="desa anti korupsi tabongo timur" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="buton btn-dark rounded p-2 d-inline-block">
                <a class="text-light" href="https://www.youtube.com/embed/2sB8hWhBXjQ?si=SeNDFn7p36nEo7pF">
                    Lihat di Youtube
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <span class="rounded-pill p-2 mt-3 m-3 fs-7 position-absolute text-light">V.2.1
        </span>
        <div class="feature-item rounded text-center p-4 bg-info h-100">
            <a href="/img/documents-2.jpg" target="_blank">
                <img class="img-thumbnail rounded-circle" src="/img/documents-2.jpg"
                    style="width: 200px; height: 200px;">
            </a>
            <h6 class="my-2">SK Penetepan tokoh masyarakat, tokoh agama, Tokoh Adat, Tokoh Pemuda, dan Kaum Perempuan
                yang mendukung upaya pencegahan korupsi</h6>
            <div class="buton btn-dark rounded py-1">
                <a class="text-light"
                    href="https://drive.google.com/drive/folders/1kt_SP_RRefY77jYXwS1bza6FJX9k2XBm?usp=drive_link">Lihat
                    Dokumen
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>