        <!-- head start -->
        <div class="container-fluid p-lg-5 mb-1 mt-xl-5 text-secondary">
            <div class="row g-lg-5 g-0 py-5" style="margin-top: 60px;">
                <div class="col-lg-4 wow fadeIn text-end" data-wow-delay="0.1s">
                    <img src="/img/logo.png" class="img-fluid d-lg-inline-block d-none h-100 shadow">
                </div>
                <div class="col-lg-8 wow slideInRight text-lg-start text-center" data-wow-delay="0.1s">
                    <p class="display-6 p-0 m-0">Selamat Datang Di
                    </p>
                    <h1 class="display-4 text-primary p-0 m-0">
                        SIDAK
                        <span class="m-0 text-primary fs-4 text-decoration-underline "> Sistem
                            Informasi
                            Desa Anti
                            Korupsi</span></h1>
                    <h1 class="display-4 text-secondary">Desa TABONGO
                        TIMUR</h1>
                </div>
                <div>
                    <p class="display-1"> </p>
                </div>
            </div>
        </div>
        <!-- head end -->