<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-2 px-4" style="z-index: 10;">
    <a class="navbar-brand" href="#">
        <img src="/img/vzxvx951.png" class="scrl h-100 " alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <a href="index.html" class="nav-item nav-link ">Beranda</a>
        <a href="https://tabongotimur.desa.id" class="nav-item nav-link">Website Desa</a>
        <a href="https://www.tabongotimur.desa.id/arsip" class="nav-item nav-link">Berita Desa</a>
        <a href="layanan.html" class="nav-item nav-link">Layanan</a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Indikator
                DAK</a>
            <div class="dropdown-menu rounded-0 m-0" style="z-index:30 ;">
                <a href="tatalaksana.html" class="dropdown-item">I. Penguatan Tata Laksana</a>
                <a href="pengawasan.html" class="dropdown-item">II. Penguatan Pengawasan</a>
                <a href="pelayananpublik.html" class="dropdown-item">III. Penguatan Kualitas Layanan
                    Publik</a>
                <a href="partisipasi.html" class="dropdown-item">IV. Partisipasi Masyarakat</a>
                <a href="kearifanlokal.html" class="dropdown-item">V. Kearifan Lokal</a>
            </div>
        </div>
    </div>

</nav>