<!-- Header Start -->

<div class="container-xxl bg-dark px-0 fixed-top" style="border:0; border-bottom: #474747; border-style:outset;">
    <div class="row gx-0 ">
        <div class="col">
            <div class="row gx-0 d-none d-lg-flex bg-primary">
                <div class="col-6 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope  me-2"></i>
                        <p class="mb-0">pemdesatabongotimur@gmail.com</p>
                    </div>
                </div>
                <div class="col-6 px-5 text-end">
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt  me-2"></i>
                        <p class="mb-0">081935307000</p>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark px-4 py-2">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-light text-uppercase">Tabongo Timur</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="index.html" class="nav-item nav-link">Beranda</a>
                        <a href="layanan.html" class="nav-item nav-link">Layanan</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Indikator
                                DAK</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="tatalaksana.html" class="dropdown-item">I. Penguatan Tata Laksana</a>
                                <a href="pengawasan.html" class="dropdown-item">II. Penguatan Pengawasan</a>
                                <a href="pelayananpublik.html" class="dropdown-item">III. Penguatan Kualitas Layanan
                                    Publik</a>
                                <a href="partisipasi.html" class="dropdown-item">IV. Partisipasi Masyarakat</a>
                                <a href="kearifanlokal.html" class="dropdown-item">V. Kearifan Lokal</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Menu 5</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="404.html" class="dropdown-item">1</a>
                                <a href="404.html" class="dropdown-item">2</a>
                                <a href="404.html" class="dropdown-item">3</a>
                                <a href="404.html" class="dropdown-item">4</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Menu 5</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="feature.html" class="dropdown-item">1</a>
                                <a href="blog.html" class="dropdown-item">2</a>
                                <a href="testimonial.html" class="dropdown-item">3</a>
                                <a href="404.html" class="dropdown-item">4</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Menu 6</a>
                    </div>
                    <div class="d-none d-lg-flex align-items-center py-0">
                        <a class="btn btn-outline-secondary btn-square rounded-circle ms-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-outline-secondary btn-square rounded-circle ms-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-outline-secondary btn-square rounded-circle ms-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->